@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
:root{
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
body{
    background-color: var(--Light-gray);
    min-width: 330px;
}
.qr-container{
    border-radius: 20px;
    padding: 17px;
    padding-bottom: 30px;
}
.qr-container img{
    width: 300px;
    margin-bottom: 20px;
}
#heading{
    color: var(--Dark-blue);
    line-height: 1.9rem;
}
#subheading{
    color: var(--Grayish-blue);
    line-height: 1.3rem;
}
